@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,900&subset=cyrillic-ext');

* {
    margin: 0;
    padding:
}

/*html,
body,
.container {
    height: 100%;
}*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts, #form, .message_fo_user {
    /*border-width: 0.14px;
    border-color: #b5b7ba;
    border-style: solid;
    background-color: #dfdfdf;
    height: 68px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    
}

.post {
    border: 1px solid #9e9e9e;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: dashed 1px #9e9e9e;
}

p.name {
    font-size: 14px;
    color: #314c75;
    font-weight: 400;
}

p.data {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 300;
}

.paginations {
    margin-top: 14px;
    margin-bottom: 7px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination p {
    margin-left: 2px;
    margin-right: 2px;
}

.pagination a {
    padding: 7px;
    font-size: 14px;
    color: #314c75;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #9e9e9e;
    -webkit-border-radius: 5px;
}

.pagination a.active {
    font-size: 14px;
    color: #f7f7f7;
    font-weight: 500;
    background-color: #314c75;
}
.pagination a:active {
    font-size: 14px;
    color: #f7f7f7;
    font-weight: 500;
    background-color: #314c75;
}

.message {
    margin-top: 7px;
}
.message p {
    font-size: 15px;
    font-weight: 400;
    color: #4b4b4b;
}

.messagetouser {
    width: 100%;
    max-width: 640px;
    
}

.msgtu {
    border: 3px solid #9e9e9e;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 5px 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.messagetouser p {
    font-size: 15px;
    font-weight: 500;
    color: #314c75;
}

#form {
   
}

h1,
h2 {
    color: #2e353d;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

input, textarea {outline:none;}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 3px solid #9e9e9e;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 5px 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

input::placeholder,
textarea::placeholder {
  color: #314c75;
  font-size: 14px;
}


input[type="text"] {
   
}

textarea {
    
    height: 155px;

}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
}

.between {
    height: 19px;
}

input,
textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.42);
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4b4b4b;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

input:focus,
textarea:focus {
    border: 2px solid rgb(69 94 138 / 72%);
    background-color: rgba(255, 255, 255, 0.78);
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background-color: #797878;
    padding: 5px 36px 7px 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    background: -webkit-gradient( linear,
    left bottom,
    left top,
    color-stop(0.23, #777777),
    color-stop(0.62, #9e9e9e));
    background: -moz-linear-gradient( center bottom,
    #777777 23%,
    #9e9e9e 62%);
    margin-top: 10px;
    margin-left: 2px;
}

input[type="submit"]:hover {
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: ##314c77;
    background: -webkit-gradient( linear,
    left bottom,
    left top,
    color-stop(0.23, #314c70),
    color-stop(0.62, #314c79));
    background: -moz-linear-gradient( center bottom,
    #314c72 23%,
    #314c79 62%);
}

input[type="submit"]:active {
    top: 1px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
